.App {
  background: #2C3A47;
  min-height: 100vh;
  height-max: auto;
}

.news-post, .profiles {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: fit-content;
  padding: 15px 20px;
  background: #dcdde1;
  margin-top: 30px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}

.post-info .post-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-info .post-author img {
  height: 50px;
  border-radius: 100%;
  border: 1px solid #2C3A47;
}

.post-author .user-link {
  color: black;
  text-decoration: none;
}

.news-post:first-child, .profiles:first-child {
  margin-top: 0px;
}

.news-post img {
  height: 231px;
  margin-right: 20px;
}

.post_content img {
  max-width: 100%;
  height: auto;
}

.post_content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.post_content h3 {
  margin-top: 17px;
}

.post_content p {
  text-align: justify;
}

.post-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  width: 100%;
  height: 40px;
  background: #2C3A47;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.profile-main-data {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.profile-main-data img {
  height: 198px;
  margin-right: 20px;
}

.profile-main-data table {
  border-collapse: collapse;
  width: auto;
}


.profile-main-data table tr td {
  padding: 7px 20px;

}

font.hidden {
  color: grey;
}


header .button {
  margin: 0px 20px;
  padding: 0px 20px;
  background: none;
  border: 2px solid #3ae374;
  color: #3ae374;
  font-weight: bold;
  transition: .3s;
  text-decoration: none;
  line-height: 35px;
}

header button:hover {
  color: #2C3A47;
  background: #3ae374;
}

#body {

}

#articles, #add-article, #profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.in-line-users {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.profiles-mini {
  background: #dcdde1;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
}

.profiles-mini img {
  height: 100px;
  margin-right: 20px;
  border-radius: 100%;
  border: 1px solid gray;
  box-sizing: border-box;
}

.profiles-mini a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.profile-main-data-coll {
  display: flex;
  flex-direction: column;
}

.add-article {
  width: 650px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  background: #dcdde1;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.add-article-form {
  display: flex;
  flex-direction: column;
}

.add-article-form input, .add-article-form textarea {
  margin-bottom: 30px;
  padding: 10px 20px;
}

.add-article-form textarea {
  height: 300px;
  resize: none;
  scrollbar-track-color: black;
}

.add-article-form button, .add-article-form select {
  width: fit-content;
  padding: 10px 20px;
  align-self: flex-end;
}

.article-form-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scoro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 30px;
}
